* {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  color: WHITE;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}


body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url("http://i1238.photobucket.com/albums/ff482/Jessica79brown/resumeBackground.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  height: 100%;
  width: 80%;
  padding: 100px;
  margin: 0 auto;
}

#main div {
  margin: 50px auto;
}

#title div {
  margin: 0 auto;
}

#name {
  font-family: 'Sura', serif;
  font-size: 4.5em;
}

#subtitle {
  font-style: italic;
  font-size: 2.5em;
}

#fade-container {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
#res{
font-size: 1.75em;
}

#projects{
    font-size: 2.5;
}

#links i {
  margin: auto 50px;
  font-size: 2.50em;
  color: #888;
}
a i:hover {
  color: #000;
}
